body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: 'HelveticaNeue-Thin';
}

:root {
  --primary: red;
}

a {
	padding: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	background: white;
	border: 1px solid var(--primary);
	border-radius: 5px;
	color: var(--primary);
	font-size: 18px;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}
a:active {
	filter: brightness(1.5);
	outline: 1px solid var(--primary);
}

#main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}